# OS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Env files
.env
backend/.env
frontend/.env

# Backend data
data/
backend/data/

# Frontend
frontend/node_modules/
frontend/build/

# IDE
.vscode/
.idea/
